/*Nav bar & jumbotron*/
.logo{
  height: 60px;
  width: 80px;
  border: 3px solid #ADD8E6;
  padding: 2px;
  position: absolute;
  margin-left: 10px;
}

.leftLetter, .rightLetter{
  display: inline-block;
  font-size: 31px;
  font-family: fantasy;
  color: #ADD8E6;
  width: 50%;
  float: left;
}
.leftLetter{
  padding-right: 5px;
  position: relative;
  /*left: 2px;*/
  top: 4px;
  box-sizing: border-box;
}

.rightLetter{
  border-left: 2px solid #ADD8E6;
  padding-left: 5px;
  position: relative;
  top: 4px;
  box-sizing: border-box;
}

.jumbotron-home{
  background: url("https://pixabay.com/get/94f74523a46f8449d682/1441149855/golden-gate-bridge-690264_1280.jpg?direct") no-repeat 100%;
}

.jumbotron-blog{
  background: url("https://pixabay.com/static/uploads/photo/2015/02/19/07/13/grand-canyon-641826_640.jpg") no-repeat 100%;
}

.jumbotron-contact{
  background: url("https://pixabay.com/static/uploads/photo/2015/07/27/11/13/city-862343_640.jpg") no-repeat 100%;
}

.jumbotron-resume{
  background: url("https://pixabay.com/static/uploads/photo/2015/08/27/21/42/computer-911165_640.jpg") no-repeat 100%;
}

.jumbotron{
  max-width: 100%; 
  /*min-width: 100%;*/
  /*background-position: center;*/
  position: relative;
 /* background: transparent;*/
  /*opacity: .2;*/
  height: 500px;
  /*background-image: url("https://pixabay.com/get/e7d1c468f57263bc55fb/1441143885/golden-gate-bridge-690264_1280.jpg?direct");
  background-position: center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


html {
  height: 1000px;
}
.mobile {
  display: none;
  /*position: fixed;*/
  position: absolute;
  width: 100%;
  top: 0;
  opacity: .7;
}
.mobile div {
  display: none;
}
.mobile button {
  position: absolute;
  top: 40px;
  right: 15px;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: #ADD8E6 url("http://i.imgur.com/vKRaKDX.png") center no-repeat ;
  border: 1px solid #003399;
  border-radius: 3px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}
.mobile button.expanded {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobile a {
  display: block;
  width: 51%;
  float: right;
  font-family: fantasy;
  font-size: 20px;
}
a {
  background: #eee;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
a:hover,
a:active,
a:focus {
  background: #ADD8E6;
}

.desktop {
  display: block;
  overflow: hidden;
}
.desktop a {
  background-color: #66CCFF;
  width: 25%;
  opacity: .7;
  float: left;
  font-family: fantasy;
  font-size: 24px;
  /*border-right: 1px solid black;*/
  box-sizing: border-box;
}

.desktop a:last-child {
  /*border-bottom: 1px solid green;*/
}

@media (max-width: 800px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

/*body*/

.home-header{
  margin-bottom: 20px;
  display: inline-block;
  text-shadow: 3px 3px teal;
  font-size: 30px;
}

.header-container{
}

.home-content{
  height: 500px;
}

/*footer*/
.footer{
  padding-bottom: 20px;
  padding-top: 20px;
  back
  text-align: center;
  /*background-color: navy*/ 
}
.footer a{
  text-align: center;

}

/*blog.html*/
.blogbody{

}
.writing{
}

.writing-wrapper{
  height: 20px;
  width: 300px;
  display: inline;
}

.writing-wrapper p{
  color: snow;
  font-size: 20px;
  font-family: helvetica;
  font-style: italic;
}

.write-author{
  color: snow; 
  font-weight: bold;
  font-size: 24px;
}