/*Nav bar & jumbotron*/
.logo{
  height: 60px;
  width: 80px;
  border: 3px solid #D86464;
  padding: 2px;
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
}

.leftLetter, .rightLetter{
  display: inline-block;
  font-size: 33px;
  font-family: fantasy;
  color: #D86464;
  width: 50%;
  float: left;
}

.leftLetter{
  padding-right: 5px;
  position: relative;
  /*left: 2px;*/
  top: 4px;
  box-sizing: border-box;
}

.rightLetter{
  border-left: 2px solid #D86464;
  padding-left: 5px;
  position: relative;
  top: 4px;
  box-sizing: border-box;
}

.jumbotron-home{
  background: url("fractal.jpg") no-repeat center center ;
}

.jumbotron-resume{
  background: url("lake.jpg") no-repeat center center ;
}
.jumbotron-blog{
  background: url("architecture.jpg") no-repeat center center ;
}

.jumbotron-contact{
  background: url("coffee-beans.jpg") no-repeat center center ;
}


.jumbotron{
  max-width: 100%; 
  position: fixed;
  position: relative;
  height: 550px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.animated-jumbotron{
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-out; 
    animation-timing-function: ease-out; 
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

.animated-nav { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
  0% { 
      opacity: 0; 
      transform: translateY(-20px); 
  } 
  100% { 
      opacity: 1; 
      transform: translateY(0); 
  } 
} 

.fadeInDown { 
  -webkit-animation-name: fadeInDown; 
  animation-name: fadeInDown; 
}

.animated-logo{ 
  -webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: linear; 
  animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInLeft { 
  0% { 
      opacity: 0; 
      -webkit-transform: translateX(-20px); 
  } 
  100% { 
      opacity: 1; 
      -webkit-transform: translateX(0); 
  } 
} 

@keyframes fadeInLeft { 
  0% { 
      opacity: 0; 
      transform: translateX(-20px); 
  } 
  100% { 
      opacity: 1; 
      transform: translateX(0); 
  } 
} 
.fadeInLeft { 
  -webkit-animation-name: fadeInLeft; 
  animation-name: fadeInLeft; 
}


html{
  height: 100%;
  overflow-x: hidden;
}

.mobile {
  display: none;
  /*position: fixed;*/
  position: absolute;
  width: 100%;
  top: 0;

  /*opacity: .7;*/
}

.mobile div {
  display: none;
}

.mobile button {
  position: absolute;
  top: 40px;
  right: 15px;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: #ADD8E6 url("http://i.imgur.com/vKRaKDX.png") center no-repeat ;
  border: 1px solid #003399;
  border-radius: 3px;
  background-size: 80%;
  z-index: 1;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}

.mobile button.expanded {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  /*background-color: transparent;*/
  border: 0;
}

.mobile a {
  display: block;
  width: 51%;
  float: right;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
  color: #D86464;
  opacity: .7;
  /*background: transparent;*/
  /*opacity: .8;*/
}

a {
  background: #eee;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

a:hover,
a:active,
a:focus {
  /*background: #ADD8E6;*/
  background-color: #66CCFF;
  text-shadow: 1px 1px 1px blue;
  text-decoration: none;
  opacity: .8;
}

.desktop {
  display: block;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

.desktop a {
  color: #D86464;
  width: 25%;
  opacity: .8;
  float: left;
  font-family: fantasy;
  font-size: 24px;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

/*body*/

body{
  padding-bottom: 100px;
}

.body-p{
  font-size: 14px;
  font-family: Palatino;
  display: block;
}

/*h2,h4{
  font-family: Palatino;
  display: inline-block;
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 1px;
}*/

.blogbody a{
  text-decoration: none;
  background: transparent;
  border: none;
}

.home-header{
  display: inline-block;
  margin: 10px auto;
}

.header-container{
  font-weight: bold;
  font-size: 30px;
  font-family: Palatino;
  text-align: center;
}

.cotent-container{
  margin: 0 auto;
  border: 2px solid #D86464;
  border-radius: 10px;
  background: #ADD8E6;
  width: 80%
}

.cotent-container { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}

#headshot{
  height: 200px;
  width: 150px;
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  margin: 0 auto;
  display: block;
  border: 2px solid #D86464;
  border-radius: 5px;
}

.contact-submit{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.contact-details{
  display: block;
  font-size: 16px;
  font-family: times;
  margin-top: 5px;
}

/*footer*/

.footer_button{
  border-radius: 5px;
}

.icon-wrapper{
  width: 250px;
  margin: 0 auto;
}

/*blog.html*/

/*.writing-wrapper{
  height: 140px;
  width: 330px;
  margin-top: 240px;
}

.writing-wrapper p{
  text-align: center;
  color: beige;
  width: 100%
  font-size: 18px;
  font-family: Palatino;
  font-style: italic;
}

.writing-animated{ 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes flip { 
    0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); } 
    100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); } 
} 
@keyframes flip { 
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); } 
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); } 
} 
.flip { 
    -webkit-animation-name: flip; 
    animation-name: flip; 
}
*/
/*resume.html*/

.gh_body a, h4{
  background: none;
  font-family: Palatino;
  font-size: 12px;
  font-weight: none;
}

.techList{
  overflow: scroll;
}

.titles{
  font-family: Palatino;
  font-size: 18px;
  font-weight: none; 
  letter-spacing: 2px;
  font-weight: bold;
}

.titles, h4{
  font-size: 19px;
}

.resumeTitles{
  border: solid #D86464 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
}
/*
h4{
  font-size: 14px;
}
*/
.gh_body a:hover,
.gh_body a:active,
.gh_body a:focus{
  background-color: none;
  text-shadow: none;
  text-decoration: none;
  opacity: 1.0;
}

h1,p{
  font-family: Palatino;
}